
* {/*con esot reseto el css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(134, 135, 130);
    padding-top: 50px; /* altura para que la barra de nav no tape el body */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* todo esto es para la barra de nav*/

nav{
    background-color:rgb(26, 26, 26);
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%; 
    justify-content: space-between;
    z-index: 10;
    padding: 0 10%;
    
    align-items: center;
}
nav p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 227, 173);
}
.temas{
    display: flex;
    align-items: center;
}
.alinear a{
    color:white;
    text-transform: uppercase;/*todo el mayusculas*/
    padding: 15px;/*distancia entre textos*/
    text-decoration: none;/*saca la linea del link*/
    font-weight: bold;
    transition: transform 0.3s ease;
}
.alinear{
    display: flex;
    gap: 5px;
    list-style: none;
}
.logo a{
    display: flex;
    align-items: center; 
    text-transform: uppercase;/*todo el mayusculas*/
    /*distancia entre textos*/
    text-decoration: none;/*saca la linea del link*/
    color:white;
    transition: transform 0.3s ease;
    font-weight: bold;
}
.logo img{
    height: 40px;
}
.texnav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.texnav img{
    height: 20px;
    width: auto;
}

nav a:hover { 
    color:rgb(175, 40, 47);
    transform: scale(1.05);
}








/* todo para el main*/
main{   
    max-width:  1200px;
    margin: auto; /*esto lo uso para que se centre el objeto cunad tinenun ancho definio lo centra*/
    background-color: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3); /*esto agrega el contorno con sombra repasar despues*/
    border-radius: 10px;
}

h1, h2, h3  {
    margin-left: 20PX;
    left: 20%;
    margin-bottom: 20px;
    color: #222;
    color:rgb(175, 40, 47);
    margin-bottom: 25px; /* distancia de texto hacia bajo*/
    border-bottom: 2px solid rgb(175, 40, 47);/*linea debajo del titul*/
}

p {
    margin-left: 20PX;
    margin-right: 20PX;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #333;
}

.inicio img{
    max-width:  1200px;
    margin-bottom: 20px;
    border-end-start-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3); /*esto agrega el contorno con sombra repasar despues*/
    max-width: 100%;
}

.imagen-final {
    display: flex;
    margin: auto;
    align-items: center;
    border-radius: 10px;
}


.imagen-final img{
max-width: 100%; /* con esot hago que la imagne se vea proporcipnaliti*/
}

/*para el video de youtube*/
iframe{ 
    display: block;     
    margin: 0 auto;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3); 
    margin-bottom: 20px;
}




/*esto es paara juntar la img y el texto*/
.grupode2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.grupo{
    display: flex;
}

.dos img{
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3); /*esto agrega el contorno con sombra repasar despues*/
    margin-bottom: 20px;
    
}
.uno img{
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3); /*esto agrega el contorno con sombra repasar despues*/
    margin-bottom: 20px;
}

/*ESTO ES SOLO PARA LOS LIBROS */
.libro {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 40px;
  padding: 0 20px;
  margin-bottom: 40px;
}

.tomo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.tomo p {
  line-height: 1.6;
  text-align: justify;
  font-size: 1em;
  color: white;
}

.tomo h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: white;
}

.tomo img {
  width: 220px;
  border-radius: 10px;
  transition: transform 0.3s
}

.tomo img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.rojo{
        background-color: rgb(130, 8, 31);
}
.azul{
        background-color: rgb(25, 95, 253);
}
.verde{
        background-color: rgb(0, 149, 133);
}
.amarillo{
        background-color: rgb(255, 178, 0);
}
.negro{
        background-color:rgb(26, 26, 26);
}





/*scroll*/
.galeria { 
  display: flex;
  overflow-x: auto;         
  gap: 20px;                
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.galeria img {/*scroll imagen*/
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.galeria img:hover {
    transform: scale(1.05);
}





.mov{
    background-color: rgb(26, 26, 26);
    max-width: 960px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    overflow: hidden; /*esto es para que las imagens no se salgan del mov */
}

.scroll{
    display: inline-flex;
    animation: mover 20s linear infinite; /* velocidad y movimiento */
}

.scroll img {
    width: 250px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}



/*con esto hago el carrusel de los gif*/
@keyframes mover {
    from {
        transform: translateX(0);
        }
    to {
        transform: translateX(-65%);/*con esto es que tatno se va a desplazar en a la izquierda*/
        }
    }



@media (max-width: 850px) {



}


 


/* todo esto es para el footer*/
.footer{
    background-color:  rgb(26, 26, 26);
    padding: 80px 0 ;/*espacio en el footer*/
    right: 0%;
    left: 0%;
    bottom: 0%;
}

.footer-container{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    right: 0%;
    left: 0%;
    bottom: 0%;
    gap: 20px;
    flex-wrap: wrap;/*hace que se junte en una sola linea, si no quedan pasa a la siguiente linea*/
}

.footer-links{
    flex-grow: 1;    /*esto es para que se acomode mejor los link y los saltos de linea*/
    flex-shrink: 1;
    flex-basis: 200px;
}

.footer-links h4{
    color: white;
    font-size: 20px;
    margin-bottom: 25px; /* distancia de texto hacia bajo*/
    border-bottom: 2px solid white;/*linea debajo del titul*/
    padding-bottom: 5px;
}

.footer ul li a{
    display: block;
    margin-bottom: 10px;
    margin: 0 auto;
}
.footer a{
    color: #bbbbbb;
    text-decoration: none;
}

.redes a i{
    font-size: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease; /*tiempo del cambio*/
}
.footer-links a:hover { /*que cambie de color solo en el footer*/
    color: rgb(230, 49, 56);
    
}


/*con esto configuro el boton del menu hamb*/
#menu-toggle {  /* con esta porqueria saco la tilde*/
    display: none; 
}
.menu-icon { /*lo oculto si la pagina no esta menos de 850px*/
    display: none; 
    cursor: pointer; 
    font-size: 30px; 
    color: white; 
    transition: transform 0.3s ease;
}
.menu-icon:hover { 
    color:rgb(175, 40, 47);
    transform: scale(1.05);
}


@media (max-width: 850px) {

    body{
        padding-top: 30px;
    }

/*esto paara que qued bien los grupos en celu*/
    .grupo{ 
    display:block;
    max-width: 100%;
    }
    .dos img{
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 100%;
    }
    .uno img{
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 100%;
    }
/*esto es para lo de los libros como para lo del arte*/
    .tomo {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    gap: 25px;
    }
    .tomo img{
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 100%;
        margin-top: 25px;
    }

    iframe{max-width: 100%;}/*para el video de youtube*/

    .mov{width: 100%;}/*para que la galeria de fotos en formato celu no se quede grande*/

    .libro{width: 100%;}

/*todo esto es para el menu hambuerger*/
    .temas {/*hace que se vean los temas en columna*/
    position: absolute;
    top: 40px;
    right: 5%;
    left: 5%;
    background: rgb(26, 26, 26);
    flex-direction: column;
    max-width: 1200px;
    padding: 15px;
    display: none;
    border-radius: 10px;
    z-index: 9;
    }
    #menu-toggle:checked ~ .temas {display: flex;}

    .menu-icon { display: block; }

    .footer-container{padding: 0 10%;}
}