form{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 40px;
    padding: 0 20px;
    margin-bottom: 40px; 
}
.forunm{
    display: flex;
    gap: 25px;
    padding: 25px;
}


